<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head ('Welcome to journey 2.0')"></head>

<body>
<!--  Navigation  -->
<nav th:replace="partials/navbar.html :: LoggedInNavbar"></nav>

<header class="mainHeader  col mt-5">
    <div class="mainBGSearch shadow pb-3">
        <h4 class="text-center pt-5 display-2 text-light"> Discover Your Next Literary Journey</h4>
        <section id="search" class="results d-flex justify-content-center">
            <input id="search-box" type="search" class="search-box form-control rounded w-50"  placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </section>
    </div>
    <div class="list-book search">
        <div class="dropdown bg-light"></div>
    </div>
</header>



<!-- BOOK LIST DISPLAY -->
<!-- Card Container -->
<main class="w-100 container-fluid row d-flex justify-content-center mx-auto py-5">
    <h2>Work on this part</h2>
    <!-- Start of Card  -->
    <div class="shadow border bg-light col-12 col-sm-5 m-3 col-md-3" id="BookCardBG"  th:each="book : ${BOOKS}">
        <!--Book Section -->
        <section class="d-flex justify-content-center">
            <a th:href="@{/books/{id}(id=${book.id})}"><img th:src="${book.bookImage}" th:id="BookImage" class="card-img-top rounded"></a>
        </section>
    </div>
    <!-- End of Card --->

</main>








<footer th:replace="partials/footer.html :: footer"></footer>

<!--  Partials Script  -->
<script th:replace="partials/script.html :: bootstrap-js"></script>

<!--Search GB API Function: In static js directory-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>