<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head ('Welcome to journey 2.0')"></head>

<body class="mainBody">
<!--  Navigation  -->
<nav th:replace="partials/navbar.html :: LoggedInNavbar"></nav>

<div class="mainDiv">
    <div class="mx-sm-5 mx-0">
        <header class="mainHeader mt-5">
            <div class="mainBGSearch shadow pb-3 pt-5">
                <h4 class="text-center pt-5 display-2 mt-5 text-light"> Discover Your Next Literary Journey</h4>
            </div>
        </header>
    </div>
    <section id="search" class="results shadow p-4">
        <h3>Search Thousands Of Books</h3>
        <input id="search-box" type="search" class="search-box form-control rounded w-50"  placeholder="Search Title, Genre or Author" aria-label="Search" aria-describedby="search-addon" />
        <small class="text-muted">Press Enter To Search</small>
    </section>
</div>

<div class="list-book search">
    <div class="dropdown"></div>
</div>


<!-- BOOK LIST DISPLAY -->
<!-- Card Container -->
<main class="w-100 container-fluid row d-flex justify-content-center mx-auto py-5 mt-5 bookListDisplay">
    <h2 class="d-flex justify-content-center">Journey BookShelf</h2>
    <!-- Start of Card  -->
    <div class="" id="BookCardBG"  th:each="book : ${BOOKS}">
        <!--Book Section -->
        <section class="d-flex justify-content-center align-items-center mt-2">
            <a th:href="@{/books/{id}(id=${book.id})}"><img th:src="${book.bookImage}" th:id="BookImage"></a>
        </section>
    </div>
    <!-- End of Card --->
</main>

<div sec:authorize="isAuthenticated()">
    <input id="csrf" type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</div>

<footer th:replace="partials/footer.html :: footer"></footer>
<script th:fragment="jquery" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<!--Search GB API Function: In static js directory-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>
