<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
	  lang="en">
<head th:replace="partials/head.html :: head ('Single Book Page')"></head>
<body>
<!--  Navigation  -->

<!--Logged in User-->
<div sec:authorize="isAuthenticated()">
	<header th:replace="partials/navbar.html :: LoggedInNavbar"></header>
</div>

<!--Anonymous User-->
<div sec:authorize="isAnonymous()">
	<header th:replace="partials/navbar.html :: LoggedOutNavbar"></header>
</div>



<header class="mainBGSearch ">
	<h1 class="text-center pt-5 display-2" th:text="${book.title}"></h1>
</header>
<!-- BOOK LIST DISPLAY -->
<!-- Card Container -->
<main class="bg-dark w-100 container-fluid row d-flex justify-content-center mx-auto py-4 singleBookBG">
	<!-- Start of Card  -->
	<div class="card shadow border bg-light col-12 col-sm-5 mt-2 col-md-3 pt-3" id="BookCardBG">
		<div class="card mb-3" style="width: 70vw;">
			<div class="row g-0">
				<div class="col-md-4">
					<img th:src="${book.bookImage}" class="card-img-top p-2" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title" th:text="${book.title}"></h5>
						<p class="card-text mx-auto text-truncate w-100 h-100" th:text="${book.author}"> </p>
						<p class="card-text" th:text="${book.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="card border-dark mb-3" style="max-width: 50%;">
			<div class="card-header"><h3>Book Details</h3></div>
			<div class="card-body d-flex flex-column">
				<section class="p-2 flex-fill">
				<h4>Title: </h4>
				<p th:text="${book.title}"></p>
				</section>
				<section>
				<h4>Genre:</h4>
				<p th:text="${book.genre}"></p>
				</section>
				<section>
				<h4>Page Count:</h4>
				<p th:text="${book.pageCount}"></p>
				</section>
				<section>
				<h4>ISBN:</h4>
				<p th:text="${book.isbn}"></p>
				</section>
				<section>
				<h4>Published:</h4>
				<p th:text="${book.publishedDate}"></p>
				</section>
			</div>
	</div>
		<form th:action="@{/books/{id}/review(id=${book.id})}">
			<button class="p-2 m-3 btn btn-outline-dark btn-lg" type="submit">Write a Review</button>
		</form>
</div>
	<!-- End of Card --->
</main>

<main class="w-75">
	<section class="text-center my-5 pb-3 container-fluid my-5">
		<h2 class="fw-light pt-3">Everyday <strong class="fw-bolder">Reviews</strong></h2>

		<!--User Review Container	-->
		<div class="row d-flex flex-nowrap container overflow-scroll mx-auto">
			<!-- Card One -->
			<div class="col-md-3 col mb-3 wholeCard" th:each="review : ${reviewsList}">
				<!-- Start of Card  -->
				<div class="overflow-auto h-75 card m-2 shadow  w-100 w-md-25">
					<!-- HEADER -->
					<div class="d-flex w-100 h-25 justify-content-center text-decoration-none fw-bold">
						<!-- Username -->
						<a th:href="|/profile/${review.getUser().getUsername()}|"> <p class="pt-4" th:text="${review.user.username}"></p></a>
					</div>
					<!--Book Section -->
					<div class="d-flex justify-content-center">
						<img th:src="${review.allBookTable.bookImage}">
					</div>
					<!-- Stars -->
					<div class="text-center my-2" th:switch="${review.rating}">
						<p th:case="'1'">
							<i class="fa-solid star fa-star" value="1"></i>
							<i class="fa-regular star fa-star" value="2"></i>
							<i class="fa-regular star fa-star" value="3"></i>
							<i class="fa-regular star fa-star" value="4"></i>
							<i class="fa-regular star fa-star" value="5"></i>
							<span> 1</span>
						</p>
						<p th:case="'2'">
							<i class="fa-solid star fa-star" value="1"></i>
							<i class="fa-solid star fa-star" value="2"></i>
							<i class="fa-regular star fa-star" value="3"></i>
							<i class="fa-regular star fa-star" value="4"></i>
							<i class="fa-regular star fa-star" value="5"></i>
							<span> 2</span>
						</p>
						<p th:case="'3'">
							<i class="fa-solid star fa-star" value="1"></i>
							<i class="fa-solid star fa-star" value="2"></i>
							<i class="fa-solid star fa-star" value="3"></i>
							<i class="fa-regular star fa-star" value="4"></i>
							<i class="fa-regular star fa-star" value="5"></i>
							<span> 3</span>
						</p>
						<p th:case="'4'">
							<i class="fa-solid star fa-star" value="1"></i>
							<i class="fa-solid star fa-star" value="2"></i>
							<i class="fa-solid star fa-star" value="3"></i>
							<i class="fa-solid star fa-star" value="4"></i>
							<i class="fa-regular star fa-star" value="5"></i>
							<span> 4</span>
						</p>
						<p th:case="'5'">
							<i class="fa-solid star fa-star" value="1"></i>
							<i class="fa-solid star fa-star" value="2"></i>
							<i class="fa-solid star fa-star" value="3"></i>
							<i class="fa-solid star fa-star" value="4"></i>
							<i class="fa-solid star fa-star" value="5"></i>
							<span> 5</span>
						</p>
						<!-- To display checked star rating icons -->
					</div>
					<!--  Card Body  -->
					<div class="card-body">
						<h5 class="card-title h-25" th:text="${review.reviewTitle}"></h5>
						<p class="card-text cardText" th:text="${review.reviewBody}"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<footer th:replace="partials/footer.html :: footer"></footer>
<!--  Partials Script  -->
<!--<script th:replace="partials/script.html :: bootstrap-js"></script>-->

<!--Search GB API Function: In static js directory-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>