<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head.html :: head ('Reviews')">
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body class="p-5">
<header th:replace="partials/navbar.html :: LoggedInNavbar"></header>

<form th:action="@{/changePassword}" class="w-50 mx-auto border p-t3 shadow rounded" id="passwordForm" method="post" th:object="${user}">
    <section class="form-group">
        <label for="userPassword" class="text-dark">New Password:</label>
        <input id="userPassword"
               th:field="*{password}"
               class="form-control"
               type="text"
               minlength="3" maxlength="50"
               title="Minimum title length 4 characters, maximum length 50"
               pattern="{4,50}"
               required>
    </section>

    <input type="submit" class=" w-100 loginButton btn btn-primary btn-block mt-3">
</form>

</body>
</html>
