<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/head.html :: head ('Login')"></head>
<body>
<!--  Navigation  -->
<nav th:replace="partials/navbar.html :: LoggedOutNavbar"></nav>

<main class="d-flex justify-content-center align-items-center h-100 w-100">

    <form th:action="@{/login}" th:object="${loginForm}" method="post" class="border shadow  rounded p-3 text-center w-50">
        <h1> Login In</h1>
        <div class="form-group">
            <label class="p-0 m-0">username:</label><br />
            <input type="text" name="username" min="5" class="w-75">
        </div>
        <div class="form-group">
            <label class="p-0 m-0">Password:</label><br />
            <input type="password" name="password" min="6" class="w-75">
        </div>
        <div class="mx-auto">
            <button type="submit" class="btn btn-primary w-75" value="Login">Login</button>
        </div>
    </form>

</main>




<footer th:replace="partials/footer.html :: footer"></footer>
</body>
<!--  Partials Script  -->
<script th:replace="partials/script.html :: bootstrap-js"></script>
</html>