@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');*{margin:0;padding:0;box-sizing: border-box;}
*{padding:0;margin:0;}
body{height:100%;width:100%;font-family: 'Poppins', sans-serif;box-sizing:border-box;}

h1, h2, h3, h4, h5{font-family: 'Playfair Display', serif;}


/*===== INDEX page =====*/
/*--- Introduction section ---*/
#introSection{
    height: 75vh;
    background-color: #649BFD2D;
    background-image: url("../images/library.jpg");
    background-size: cover;
    z-index: -1;
}
.darkbgIntroSection{
    height: 71vh;
}
/*--- Introduction medium and below Screen H1 ---*/
/*header font size */
#introSectionButton-smallerScreen{
    width: 140px;
    height: auto;
    transition: all .8s ease-in-out;
}
/*button font size */
#introSectionButtonFontSmall{
   font-size: 42px;
}
/*--- Introduction medium and Above Screen ---*/
#introHeading-largerScreen{
    font-size: 68px;
}
/*Button Container*/
#introSectionButton-largerScreen{
    width: 240px;
    height: 50px;
    transition: all .8s ease-in-out;
}
/*Button font size */
#introSectionButtonFontLarge{
    font-size: 22px;
}
/*BOTH - Hover Over Button*/
#introSectionButton-largerScreen:hover,
#introSectionButton-smallerScreen:hover,
#indexParaButton-smallerScreen:hover,
#indexParaButton-largeScreen:hover{
    transform: scale(1.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*--- Index - About Project Section---*/

/*The Index About Project paragraph*/
.indexPara-SmallerScreen {
    font-size: 48px;
}
.indexPara-largerScreen {
    font-size: 24px;
}

/*h2 HEaders*/
#aboutJourneyHeader-small,#offeringJourneyHeader-small,#reviewJourneyHeader-small{font-size: 58px;}
#aboutJourneyHeader-large,#offeringJourneyHeader-large, #reviewJourneyHeader-large{font-size: 38px;}
#indexAboutButtonFontSmall{font-size: 42px;}
#indexAboutButtonFontLarge{font-size: 22px}

#indexParaButton-smallerScreen,#indexParaButton-largeScreen {
    width: fit-content;
    height: auto;
    transition: all .8s ease-in-out;
}

/*index - Offer Title*/
.offerTitle, .reviewTitleSmall{
    font-size: 28px;
}
.offerBody-sm, .reviewBodyIndex{
 font-size: 22px;
}
.offerBody-lg{
    font-size: 20px;
}










/* Main Page */
.searchBarBookImages{
    height:240px;
    width: auto;
}

.mainBody{
    background-color: #649BFD2D;
}

.results{
    position: absolute;
    z-index: 3;
    width: 80%;
    left: 160px;
    top: 23em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
@media only screen and (max-width: 980px) {
    .results {
        position: absolute;
        z-index: 3;
        width: 80%;
        left: 50px;
        top: 23em;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;

    }
}
.mainBGSearch{
    position: relative;
    z-index: 1;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
}
.mainHeader{
    background-image: url("../images/mainPic.jpg");
    height: 45vh;
    background-size: cover;
    position: relative;
    z-index: -1;
    border-radius: 0 0 12px 12px;

}
.list-book{
    margin-top: 120px;
    display: flex;
    justify-content: center;

}
#BookCardBG{
    width: auto;
}
@media only screen and(max-width: 980px) {
    .bookListDisplay {
        margin-top: 20px;
    }
}












/*Book Community Review*/
.userReviewBook{
    height: 120px;
    width: 80px;
    border: 3px solid black;
    transition: all .8s ease-in-out;
}

#BookImage{
    height: 300px;
    width: 190px;
    border: 3px solid black;
}
/*------     ABOUT THE TEAM PAGE    -----*/
/*-----  about page  -----*/

.headerAboutPage{
    background-color:#649BFD2D;
    height: 20vh;
    border-radius: 0 0 12px 12px;
}
.aboutH1{
    font-size: 62px;
}
.aboutH1SmallScreen{
    font-size: 48px;
}

.aboutSocialMediaIcon{
    height: 18px;
    width: 18px;
}


/*------   Login Page     -----*/
/*-----  Login  -----*/
.mainLoginBG{
    background-color:#649BFD2D;
}


/*------     Profile Page     -----*/
/*-----  Profile  -----*/
.profileSideBar {
    background-color: #649BFD2D;
    height: auto;
}
.wholeContainer{
    height: 100vh;

}
.rightSideOfPage{
    height: auto;
}

.SettingsButtonProfilePage{
    height: 30px;
    width: 30px;
    transition: all .8s;
}
.SettingsButtonProfilePage:hover{
   transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#profilePageAfterSettingButtonIsClicked{
    display:none;
}
#settingsButton{
    display: initial;
}
#passwordForm{
    padding-top: 20px;
}

.hide{
    display: none;
}

.unclickable {
    pointer-events: none;
}


/*------     Review Form Page    -----*/
/*-----  Create a form Page  -----*/
.reviewFormImage{
    height: auto; !important;
    width: 240px; !important;
    border-radius: 12px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating > input{
    display:none;
}

.rating > label {
    position: relative;
    width: 1.1em;
    font-size: 24px;
    color: #FFD700;
    cursor: pointer;
}

.rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before{
    opacity:1;
}

.rating:hover > input:checked ~ label:before{
    opacity: 0.4;
}
.rating{
    font-size: 24px;
}

/* Background for Single Book The WOod Grain */
.SingleBookImage{
    height: auto; !important;
    width: 240px; !important;
    border-radius: 12px;
}

/*!*register page *!*/
.registerInput:optional {
    border-color: gray;
}
.registerInput:required:valid {
    border-color: green;
}

.registerInput:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}
.registerInput:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}

input{
    border-color: black;
}

/* Error Pages */

/* Error 4XX */
.error4Pic{
    height: 100%;
    width: 100%;

  }
@media only screen and (max-width: 1300px) {
    .error4Pic {
        height: 900px;
        width: 120%;


    }
}

/* Container needed to position the button. Adjust the width as needed */
.errorContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Make the image responsive */
.errorContainer error4Pic {
    width: 130%;
    height: 900%;
}

/* Style the button and place it in the middle of the container/image */
.errorContainer .error4btn {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.errorContainer .error4btn:hover {
    background-color: black;
}

/*Sizing for Error 4xx Button at Smaller Screen*/
@media screen and (max-width: 800px) {
    .errorContainer .error4btn{
        font-size: 10px;
        left: 110px;
        padding: 9px 15px;
    }

}


/* Error 500 */

/* Make the image responsive */
.errorContainer error5Pic {
    width: 130%;
    height: 900%;
}

/* Style the button and place it in the middle of the container/image */
.errorContainer .error5btn {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
@media only screen and (max-width: 800px) {
    .errorContainer .error5btn {
        font-size: 12px;
        left: 110px;
        padding: 11px 15px;

    }
}

.errorContainer .error5btn:hover {
    background-color: black;
}

.error5Pic{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    .error5Pic {
        height: 800px;
        width: 130%;


    }
}
