<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
    <head th:replace="partials/head.html :: head ('About The Team')"></head>
    <body>

    <!--  Navigation  -->
    <nav th:replace="partials/navbar.html :: LoggedOutNavbar"></nav>

    <h1>Welcome to the team page.</h1>


    <footer th:replace="partials/footer.html :: footer"></footer>
    </body>
    <!--  Partials Script  -->
    <script th:replace="partials/script.html :: bootstrap-js"></script>
</html>