<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/head.html :: head ('Welcome to journey')"></head>
<body>
    <!--  Navigation  -->
    <nav th:replace="partials/navbar.html :: LoggedOutNavbar"></nav>

    <!--Header-->
    <header id="introSection" class=" pt-5 mt-4 d-flex align-items-center w-100 text-white position-relative">
        <div class="bg-dark darkbgIntroSection w-100 opacity-25 position-absolute"></div>
        <div class="position-relative px-3 mt-5 pt-5 container">
             <!-- phone Screen -->
            <h1 class="introHeading-largerScreen mx-auto d-block pb-3" id="introHeading-largerScreen">Discover your next Journey through the world of endless imagination.</h1>
            <section class="d-flex justify-content-center mt-4 pt-5">
                <a class="btn btn-primary rounded introSectionButton-smallerScreen w-75 d-block d-lg-none" id="introSectionButton-smallerScreen" href="#aboutJourney" role="button">
                    <p class="introSectionButtonFontSmall" id="introSectionButtonFontSmall">Learn More <i class="fa-solid fa-arrow-right"></i></p>
                </a>
                <a class="btn btn-light rounded introSectionButton-largerScreen  d-none d-lg-block" id="introSectionButton-largerScreen" href="#aboutJourney" role="button">
                    <p class="introSectionButtonFontLarge" id="introSectionButtonFontLarge">Learn More <i class="fa-solid pt-2 ms-2 fa-arrow-right"></i></p>
                </a>
            </section>
        </div>
    </header>


    <!--About App Section-->
    <main class="container-fluid py-5 mainAboutSection" id="mainAboutSection">
        <div class="text-center  px-2 pt-5">
            <!--Title-->
            <h2 id="aboutJourneyHeader-small" class="h2-index pt-4 d-block d-lg-none">About Journey </h2>
            <h2 id="aboutJourneyHeader-large" class="h2-index d-none d-lg-block">About Journey </h2>
            <!-- Paragraph -->
            <p class="mt-4 indexPara-SmallerScreen w-100 fw-light mx-auto d-block d-lg-none">
                Introduce yourself to the works of your favorite authors’ story-telling, or entice yourself through the numerous reviews of other members.
                Browse by author, title, or follow the paths of fellow members based on their reviews.
            </p>
            <p class="mt-4 indexPara-largerScreen w-75 fw-light mx-auto d-none d-lg-block">
                Introduce yourself to the works of your favorite authors’ story-telling, or entice yourself through the numerous reviews of other members.
                Browse by author, title, or follow the paths of fellow members based on their reviews.
            </p>
            <a class="btn mx-auto btn-primary my-5 px-5 py-2 d-block d-lg-none indexParaButton-smallerScreen" id="indexParaButton-smallerScreen" href="/register" role="button"><p id="indexAboutButtonFontSmall">Join the Community <i class="fa-solid fa-arrow-right"></i><p></p></a>
            <a class="btn mx-auto btn-primary my-5 py-1 px-3 d-none d-lg-flex align-items-center justify-content-center indexParaButton-largerScreen" id="indexParaButton-largeScreen" href="/register" role="button"><p id="indexAboutButtonFontLarge"  class="p-0 m-0">Join the Community <i class="fa-solid fa-arrow-right"></i><p></p></a>
        </div>
    </main>

    <hr class="w-75 mx-auto">

    <!--What We Offer Section-->
<div class="container-fluid py-5 px-0">
    <!--	Offer Title	-->
    <h2 id="offeringJourneyHeader-small" class="h2-index text-center pb-4 pt-4 d-block d-lg-none">We're Offering</h2>
    <h2 id="offeringJourneyHeader-large" class="h2-index d-none text-center pb-4 d-lg-block">We're Offering</h2>
    <div class="row d-flex justify-content-center flex-wrap px-2">
        <!--	Offer Body	-->
        <div class="card col-10 col-lg-3 p-0 border-2">
            <img src="/images/index/OfferingIMG/indexOffering_01.jpg" class="card-img-top image-fluid" alt="books">
            <div class="card-body">
                <h5 class="card-title offerTitle">Browse By Author</h5>
                <p class="card-text offerBody-sm fw-light d-block d-lg-none">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
                <p class="card-text offerBody-lg fw-light d-none d-lg-block">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
            </div>
        </div>
        <!--	Offer Body	-->
        <div class="card col-10 mx-lg-3 p-0 col-lg-3 my-5 my-lg-0 border-2">
            <img src="/images/index/OfferingIMG/indexOffering_02.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title offerTitle">Browse By Author</h5>
                <p class="card-text offerBody-sm fw-light d-block d-lg-none">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
                <p class="card-text offerBody-lg fw-light d-none d-lg-block">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
            </div>
        </div>
        <!--	Offer Body	-->
        <div class="card col-10 col-lg-3 p-0 border-2">
            <img src="/images/index/OfferingIMG/indexOffering_03.jpg" class="card-img-top w-100 image-fluid" alt="books">
            <div class="card-body">
                <h5 class="card-title offerTitle">Browse By Author</h5>
                <p class="card-text offerBody-sm fw-light d-block d-lg-none">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
                <p class="card-text offerBody-lg fw-light d-none d-lg-block">Tell us what titles or author you’ve enjoyed and see where your new path begins.</p>
            </div>
        </div>

    </div>
</div>

    <hr class="w-75 mx-auto">







    <!-- Reviews Section-->
    <!--Main Section -->
    <div class="px-4 mt-5 pt-5">
        <section class=" text-center">
            <h2 id="reviewJourneyHeader-small" class="h2-index text-center pb-4 pt-4 d-block d-lg-none">Everyday Reviews</h2>
            <h2 id="reviewJourneyHeader-large" class="h2-index d-none text-center pb-4 d-lg-block">Everyday Reviews</h2>
            <i class="fa-solid fa-left-long"></i><small class="text-secondary mx-4">Scroll</small>
            <i class=" fa-solid fa-right-long"></i>
        </section>
        <!-- spacing around cards -->
        <main class="row d-flex flex-nowrap container overflow-scroll mx-auto my-5 pb-5">
            <!-- *CARD STARTS -->
            <section class="card border-0 shadow m-2 col-lg-5 col-10" style="max-width: 483px; height: 280px"  th:each="review : ${reviews}" th:unless="${reviewStat.index > 5}">
                <!-- lets context and img go side by side with ROW -->
                <div class="row g-0">
                    <!-- Image Container -->
                    <div class="col-md-4 px-2 py-2 col-10">
                        <!-- Image -->
                        <img th:src="${review.allBookTable.bookImage}" alt="..." class="img-fluid rounded-start"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="card-title reviewTitleSmall d-block d-lg-none m-0 p-0" th:text="${review.reviewTitle}"></h5>
                            <!-- Username -->
                            <a th:href="|/profile/${review.getUser().getUsername()}|"> <p class="p-0 m-0" th:text="'By '+${review.user.username}"></p></a>
                            <!-- Stars -->
                            <div class="my-2" th:switch="${review.rating}">
                                <p th:case="'1'">
                                    <i class="fa-solid star fa-star" value="1"></i>
                                    <i class="fa-regular star fa-star" value="2"></i>
                                    <i class="fa-regular star fa-star" value="3"></i>
                                    <i class="fa-regular star fa-star" value="4"></i>
                                    <i class="fa-regular star fa-star" value="5"></i>
                                    <span> 1</span>
                                </p>
                                <p th:case="'2'">
                                    <i class="fa-solid star fa-star" value="1"></i>
                                    <i class="fa-solid star fa-star" value="2"></i>
                                    <i class="fa-regular star fa-star" value="3"></i>
                                    <i class="fa-regular star fa-star" value="4"></i>
                                    <i class="fa-regular star fa-star" value="5"></i>
                                    <span> 2</span>
                                </p>
                                <p th:case="'3'">
                                    <i class="fa-solid star fa-star" value="1"></i>
                                    <i class="fa-solid star fa-star" value="2"></i>
                                    <i class="fa-solid star fa-star" value="3"></i>
                                    <i class="fa-regular star fa-star" value="4"></i>
                                    <i class="fa-regular star fa-star" value="5"></i>
                                    <span> 3</span>
                                </p>
                                <p th:case="'4'">
                                    <i class="fa-solid star fa-star" value="1"></i>
                                    <i class="fa-solid star fa-star" value="2"></i>
                                    <i class="fa-solid star fa-star" value="3"></i>
                                    <i class="fa-solid star fa-star" value="4"></i>
                                    <i class="fa-regular star fa-star" value="5"></i>
                                    <span> 4</span>
                                </p>
                                <p th:case="'5'">
                                    <i class="fa-solid star fa-star" value="1"></i>
                                    <i class="fa-solid star fa-star" value="2"></i>
                                    <i class="fa-solid star fa-star" value="3"></i>
                                    <i class="fa-solid star fa-star" value="4"></i>
                                    <i class="fa-solid star fa-star" value="5"></i>
                                    <span> 5</span>
                                </p>
                                <!-- To display checked star rating icons -->
                            </div>
                            <!-- Body -->
                            <p class="card-text cardText bg-light reviewBodyIndex" style="height:100px;overflow-y: scroll" th:text="${review.reviewBody}"></p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>


    <footer th:replace="partials/footer.html :: footer"></footer>
</body>
    <!--  Partials Script  -->
    <script th:replace="partials/script.html :: bootstrap-js"></script>
</html>