<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/head.html :: head ('Welcome to journey 2.0')">
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body class="">
        <!--  Navigation  -->
        <nav th:replace="partials/navbar.html :: LoggedOutNavbar"></nav>

<header id="introSection" class="d-flex align-items-center text-white position-relative">
    <div class="bg-dark h-100 w-100 opacity-25 position-absolute"></div>
        <div class="position-relative w-75 container text-lg-end text-center p-3">
            <h1 class="introHeading z-index-5">Discover your Journey</h1>
            <p class="introPara">Discover your next Journey through the world of endless imagination.</p>
            <a class="btn  btn-primary" href="#aboutJourney" role="button">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
</header>

    <!--Arrow pointing down to tell user there is more to the page-->
    <div class="d-none d-sm-flex justify-content-center text-light">
        <i class="fa-solid introArrow fa-circle-arrow-down"></i>
    </div>

        <!--About App Section-->
        <main class=" w-100 container-fluid p-sm-5 p-0">
            <div class="text-center container pt-5">
                <!--Small Text-->
                <small class="text-primary p-0 m-0">Introduction</small>
                <!--Title-->
                <h2><span class="fw-light" id="aboutJourney">About</span> <strong>journey</strong></h2>
                <!-- Paragraph -->
                <p class="mt-4 indexPara  mx-auto">
                    Introduce yourself to the works of your favorite authors’ story-telling, or entice yourself through the opinions of other members.
                    Browse by genre, author, title, customized recommendations, or follow the paths that other members have taken, based off of their reviews.
                    Write your own reviews, to help guide others through their own Journey.  List your favorite reads, your favorite book, and your
                    list of books you wish to read.  You also have the option to purchase your selected book through our third party.  Any day is a
                    fine day to take a Journey, let us help you find your way!
                </p>
                <a class="btn btn-primary my-5" href="/register" role="button">Join the Community <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </main>

        <hr class="w-75 mx-auto">

        <!--Offering Section - Services-->
        <section class="d-flex flex-column w-100 container text-center my-5">
            <!--	Offer Small Text	-->
            <small class="text-primary p-0 m-0">Services</small>
            <!--	Offer Title	-->
            <h2><span class="fw-light">We're</span> <strong>Offering</strong></h2>
            <!--	Offering Group	-->
            <div class="card-group my-5">
                <!--	Offer One	-->
                <div class="card">
                    <img src="images/index/OfferingIMG/indexOffering_01.jpg"  width="100%" height="220px"  alt="books">
                    <div class="card-body">
                        <h5 class="card-title">Browse By Genre</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <!--	Offer Two	-->
                <div class="card mx-1">
                    <img src="images/index/OfferingIMG/indexOffering_02.jpg" width="100%" height="220px"  alt="books">
                    <div class="card-body">
                        <h5 class="card-title">Leave Personal Reviews</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <!--	Offer Three	-->
                <div class="card">
                    <img src="images/index/OfferingIMG/indexOffering_03.jpg"  width="100%" height="220px" alt="books">
                    <div class="card-body">
                        <h5 class="card-title">Find Common Users</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="w-75 mx-auto">

<section class="text-center my-5 pb-3 container-fluid my-5">
        <p><small class="text-primary p-0 m-0">Community</small></p>
        <h2 class="fw-light">Everyday <strong class="fw-bolder">Reviews</strong></h2>
        <i class="fa-solid fa-left-long col-2"></i><small class="text-secondary">Scroll</small><i class=" col-2 fa-solid fa-right-long"></i>
        <!--User Review Container	-->
        <div class="row d-flex flex-nowrap container overflow-scroll mx-auto">
            <!-- Card One -->
            <div class="col-md-3 col mb-3 wholeCard" th:each="review : ${reviews}" th:unless="${review.id > 6}">
                <!-- Start of Card  -->
                <div class="card m-2 shadow  w-100 w-md-25">
                    <!-- HEADER -->
                    <div class="d-flex w-100 h-25">
                        <!--  User Image    -->
                        <img src="images/index/userProfile/userProfilePic_02.jpg" class="bg-dark profilePicIndex rounded-circle shadow m-3" width="42px" height="42px">
                        <!-- Username -->
                        <a th:href="|/profile/${review.getUser().getUsername()}|"> <p class="pt-4" th:text="${review.user.username}"></p></a>
                    </div>
                    <!--Book Section -->
                    <div class="d-flex justify-content-center">
                        <img src="images/index/indexBookReviews/it.jpeg" class="card-img-top rounded userReviewBook">
                    </div>
                    <!-- Stars -->
                    <div class="text-center my-2" th:switch="${review.rating}">
                        <p th:case="'1'">
                            <i class="fa-solid star fa-star" value="1"></i>
                            <i class="fa-regular star fa-star" value="2"></i>
                            <i class="fa-regular star fa-star" value="3"></i>
                            <i class="fa-regular star fa-star" value="4"></i>
                            <i class="fa-regular star fa-star" value="5"></i>
                            <span> 1</span>
                        </p>
                        <p th:case="'2'">
                            <i class="fa-solid star fa-star" value="1"></i>
                            <i class="fa-solid star fa-star" value="2"></i>
                            <i class="fa-regular star fa-star" value="3"></i>
                            <i class="fa-regular star fa-star" value="4"></i>
                            <i class="fa-regular star fa-star" value="5"></i>
                            <span> 2</span>
                        </p>
                        <p th:case="'3'">
                            <i class="fa-solid star fa-star" value="1"></i>
                            <i class="fa-solid star fa-star" value="2"></i>
                            <i class="fa-solid star fa-star" value="3"></i>
                            <i class="fa-regular star fa-star" value="4"></i>
                            <i class="fa-regular star fa-star" value="5"></i>
                            <span> 3</span>
                        </p>
                        <p th:case="'4'">
                            <i class="fa-solid star fa-star" value="1"></i>
                            <i class="fa-solid star fa-star" value="2"></i>
                            <i class="fa-solid star fa-star" value="3"></i>
                            <i class="fa-solid star fa-star" value="4"></i>
                            <i class="fa-regular star fa-star" value="5"></i>
                            <span> 4</span>
                        </p>
                        <p th:case="'5'">
                            <i class="fa-solid star fa-star" value="1"></i>
                            <i class="fa-solid star fa-star" value="2"></i>
                            <i class="fa-solid star fa-star" value="3"></i>
                            <i class="fa-solid star fa-star" value="4"></i>
                            <i class="fa-solid star fa-star" value="5"></i>
                            <span> 5</span>
                        </p>
                        <!-- To display checked star rating icons -->
                    </div>
                    <!--  Card Body  -->
                    <div class="card-body">
                        <h5 class="card-title h-25" th:text="${review.reviewTitle}"></h5>
                        <p class="card-text cardText" th:text="${review.reviewBody}"></p>
                    </div>
                    <!-- FOOTER -->
                    <div class="card-footer">
                        <small class="text-muted">07/20/2013</small>
                    </div>
                </div>
                <!-- End of Card --->
            </div>
        </div>
</section>
        <!-- Reviews shown in cards -->


        <footer th:replace="partials/footer.html :: footer"></footer>
</body>
    <!--  Partials Script  -->
    <script th:replace="partials/script.html :: bootstrap-js"></script>
</html>